# Tarea 1 Bases de Datos 2023-1 Grupo XX

## Integrantes:
* Nicolas Cuesta A - Rol-201973118-1

## Requisitos para Correr el Notebook

Para poder utilizar este Notebook se debe tener instalado:
- **Python 3**
- **Jupyter**
- La librería **ipython-sql** (Poder ejecutar sql en Jupyter Notebook)
- PostgreSQL y su conector desde Python(**psycopg2**)

**IMPORTANTE:** Este Jupyter Notebook se conectará a su servicio de Base de Datos PostgreSQL de manera **local**, por lo que **no funcionará correctamente en el entorno Google Collab.**

Para instalar las dependencias, ejecute (**recuerde actualizar pip3**):

In [7]:
! pip3 install ipython-sql
! pip3 install psycopg2

#Use to generate names
! pip3 install names

Requirement already satisfied: ipython-sql in c:\users\xcy\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (0.5.0)
Requirement already satisfied: ipython-genutils in c:\users\xcy\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: sqlparse in c:\users\xcy\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (from ipython-sql) (0.4.3)
Requirement already satisfied: prettytable in c:\users\xcy\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (from ipython-sql) (3.7.0)
Requirement already satisfied: six in c:\users\xcy\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython in c:\users\xcy\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (from ipython-sql) (8.12.0)
Requirement already satisfied: sqlalchemy>=2.0 in c:\users\xcy\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (from ipython-sql) (2.0.9)
Requirement already satisfied: typing-extensions>=4.2.0 in c:\users\xcy\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.5.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\xcy\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (from sqlalchemy>=2.0->ipython-sql) (2.0.2)
Requirement already satisfied: jedi>=0.16 in c:\users\xcy\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (from ipython->ipython-sql) (0.18.2)
Requirement already satisfied: prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30 in c:\users\xcy\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (from ipython->ipython-sql) (3.0.38)
Requirement already satisfied: stack-data in c:\users\xcy\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (from ipython->ipython-sql) (0.6.2)
Requirement already satisfied: decorator in c:\users\xcy\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: matplotlib-inline in c:\users\xcy\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: backcall in c:\users\xcy\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: pygments>=2.4.0 in c:\users\xcy\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (from ipython->ipython-sql) (2.15.0)
Requirement already satisfied: traitlets>=5 in c:\users\xcy\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (from ipython->ipython-sql) (5.9.0)
Requirement already satisfied: colorama in c:\users\xcy\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: pickleshare in c:\users\xcy\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: wcwidth in c:\users\xcy\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (from prettytable->ipython-sql) (0.2.6)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\xcy\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: pure-eval in c:\users\xcy\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (from stack-data->ipython->ipython-sql) (0.2.2)
Requirement already satisfied: asttokens>=2.1.0 in c:\users\xcy\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (from stack-data->ipython->ipython-sql) (2.2.1)
Requirement already satisfied: executing>=1.2.0 in c:\users\xcy\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (from stack-data->ipython->ipython-sql) (1.2.0)

WARNING: You are using pip version 22.0.4; however, version 23.0.1 is available.
You should consider upgrading via the 'C:\Users\xCy\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip' command.

Requirement already satisfied: psycopg2 in c:\users\xcy\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (2.9.6)

WARNING: You are using pip version 22.0.4; however, version 23.0.1 is available.
You should consider upgrading via the 'C:\Users\xCy\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip' command.

Requirement already satisfied: names in c:\users\xcy\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (0.3.0)

WARNING: You are using pip version 22.0.4; however, version 23.0.1 is available.
You should consider upgrading via the 'C:\Users\xCy\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip' command.

## Importar dependencias

In [8]:
from datetime import datetime
import random as r
import names

#Librerías para PostgreSQL
import psycopg2

Para conectarse a la base de datos, completen los datos relevantes en la variable DATABASE_URL.

* Cambie `user` por el usuario que utilizó en Postgres para acceder a la Base de Datos. Por defecto `postgres`.
* Cambie `password` por la contraseña de dicho usuario. **Recuerde borrarla antes de entregar su tarea.**
* Cambie `port` por el puerto en que se ejecuta su servicio de Base de Datos. Por defecto `5432`.
* Cambie `database` por el nombre de la BD (Schema) que creó en Postgres.

Ejemplo: `postgresql://postgres:pass_segura@localhost:5432/tarea-bd`

In [9]:
%reload_ext sql
%env DATABASE_URL=postgresql://postgres:2601@localhost:5432/tarea

env: DATABASE_URL=postgresql://postgres:2601@localhost:5432/tarea

Para conectarse de forma declarativa a la Base de Datos, utilice el siguiente código:

In [10]:
connection = psycopg2.connect(
   host="localhost",
   user="postgres",
   dbname='tarea',
   password="2601"
)

print(connection)
cursor = connection.cursor()

<connection object at 0x0000013F56C019D0; dsn: 'user=postgres password=xxx dbname=tarea host=localhost', closed: 0>

## Crear tablas (36 pts.)

Aquí inserta el código SQL que creara las tablas de la base de datos:

### Tabla "facciones" (6 pts)

In [49]:
%%sql
CREATE TABLE facciones (
 id SERIAL,
 nombre VARCHAR(45) NOT NULL,
 descripcion VARCHAR(45) NOT NULL,
 PRIMARY KEY (id)
);

 * postgresql://postgres:***@localhost:5432/tarea
Done.

[]

### Tabla "trabajos" (6 pts)

In [50]:
%%sql
CREATE TABLE trabajos (
 id SERIAL,
 nombre VARCHAR(45) NOT NULL,
 descripcion VARCHAR(45) NOT NULL,
 sueldo INTEGER NOT NULL,
 PRIMARY KEY (id)
);

 * postgresql://postgres:***@localhost:5432/tarea
Done.

[]

### Tabla "personas" (6 pts)

In [51]:
%%sql
CREATE TABLE personas (
 id SERIAL,
 nombre VARCHAR(45) NOT NULL,
 apellidos VARCHAR(45) NOT NULL,
 fecha_nacimiento DATE NOT NULL,
 infectado BOOLEAN NOT NULL,
 conyugue INTEGER,
 PRIMARY KEY (id),
 FOREIGN KEY (conyugue) REFERENCES personas (id)
);

 * postgresql://postgres:***@localhost:5432/tarea
Done.

[]

### Tabla "cuentas_bancarias" (6 pts)

In [52]:
%%sql
CREATE TABLE cuentas_bancarias (
 id SERIAL,
 tipo_de_cuenta VARCHAR(45) NOT NULL,
 banco VARCHAR(45) NOT NULL,
 saldo INTEGER NOT NULL,
 id_persona INTEGER,
 PRIMARY KEY (id),
 FOREIGN KEY (id_persona) REFERENCES personas (id)
);

 * postgresql://postgres:***@localhost:5432/tarea
Done.

[]

### Tabla "persona_pertenece_faccion" (6 pts)

In [53]:
%%sql
CREATE TABLE persona_pertenece_faccion(
    id_persona INTEGER,
    id_faccion INTEGER,
    PRIMARY KEY (id_persona, id_faccion),
    FOREIGN KEY (id_persona) REFERENCES personas (id),
    FOREIGN KEY (id_faccion) REFERENCES facciones (id)
);

 * postgresql://postgres:***@localhost:5432/tarea
Done.

[]

### Tabla "persona_tiene_trabajo" (6 pts)

In [54]:
%%sql
CREATE TABLE persona_tiene_trabajo(
    id_persona INTEGER,
    id_trabajo INTEGER,
    estado BOOLEAN NOT NULL,
    ultima_vez_realizado TIMESTAMP NOT NULL,
    PRIMARY KEY (id_persona, id_trabajo),
    FOREIGN KEY (id_persona) REFERENCES personas (id),
    FOREIGN KEY (id_trabajo) REFERENCES trabajos (id)
);

 * postgresql://postgres:***@localhost:5432/tarea
Done.

[]

## Código Generador de Datos

Ejecute este código para cargar datos a las tablas creadas.

PD: Si el codigo tira error por "violar la unicidad de las PK" es por una coincidencia de numeros random, solamente volver a ejecutar el codigo

In [84]:
#Recuerde haber ejecutado todas las celdas anteriores!

# Generador de timestamp aleatorio.
def generate_timestamp_nacimiento():
    year = r.randint(1970,2022)
    month = r.randint(1,12)
    day = r.randint(1,31)
    
    hour = r.randint(0,23)
    minute = r.randint(0,59)
    second = r.randint(0,59)
    
    if month in [4, 6, 9, 11] and day > 30:
        day = 30
        
    if month == 2 and day > 28:
        day = 28
        
    return datetime(year, month, day, hour, minute, second)

def generate_timestamp_trabajo():
    year = r.randint(2019,2022)
    month = r.randint(1,12)
    day = r.randint(1,31)
    
    hour = r.randint(0,23)
    minute = r.randint(0,59)
    second = r.randint(0,59)
    
    if month in [4, 6, 9, 11] and day > 30:
        day = 30
        
    if month == 2 and day > 28:
        day = 28
        
    return datetime(year, month, day, hour, minute, second)

print("Borrando Datos Antiguos...")

# Limpia la base de datos.
connection.commit() # En caso de algun error
query = 'TRUNCATE TABLE "facciones", "trabajos", "personas", "cuentas_bancarias", "persona_pertenece_faccion", "persona_tiene_trabajo" RESTART IDENTITY'
cursor.execute(query)
connection.commit()

print("Generando Datos...")

facciones = [("FEDRA", "La Agencia Federal de Respuesta a Desastres"), ("Luciérnagas", "Grupo de milicias revolucionario"), ("Carroñeros", "Sin identificación"), ("Pythonia", "Grupo defensor de la libertad"), ("MaCdonia", "Los exiliados de la carceles"), ("JavaScriptia", "Grupo defensor de la paz")]
trabajos = [("Limpieza", "Encargado de limpiar las calles"),
("Limpiador de cloacas","Encargado de limpiar las cloacas"),
("Militar","Encargado de proteger la ciudad"),
("Explorador","Encargado de explorar la ciudad"),
("Médico","encargado de curar a los enfermos"),
("Profesor","Encargado de enseñar a los niños"),
("Cremador","Encargado de quemar los cadáveres"),
("Científico","Encargado de investigar"),
("Cocinero","Encargado de cocinar"),
("Carpintero","Encargado de construir"),
("Cerrajero","Encargado de reparar las cerraduras"),
("Cartero","Encargado de repartir los correos"),
("Cajero","Encargado de cobrar los impuestos")]
tipos_de_cuenta_bancaria = ["Cuenta Vista", "Cuenta Ahorro", "Cuenta Corriente", "Cuenta RUT", "Cuenta de Inversion", "Cuenta PrePago", "Cuenta de Credito"]
bancos = ["FedraBank S.A", "Banco Pedrito Pascal SpA", "Banco Pythonia S.A", "Banco de la Nación S.A", "Banco Santander SpA", "Banco BCI SpA", "Banco Estado SpA", "Banco Consorcio S.A", "Banco BBVA", "Banco Scotiabank"]

# Variables.
n_facciones = len(facciones)
n_trabajos = len(trabajos)
n_personas = 1000
n_cuentas_bancarias = 120
n_persona_pertenece_faccion = 300
n_persona_tiene_trabajo = 300
n_casados = 100

# Genera personas.
personas = []
for _ in range(n_personas):
    nombre = names.get_first_name()
    apellidos = names.get_last_name()+" "+names.get_last_name()
    fecha_nacimiento = generate_timestamp_nacimiento()
    infectado = r.choice([True, False])
    
    personas.append((nombre, apellidos, fecha_nacimiento, infectado, None))


# Genera cuentas bancarias.
cuentas_bancarias = []
for _ in range(n_cuentas_bancarias):
    tipo_de_cuenta = r.choice(tipos_de_cuenta_bancaria)
    banco = r.choice(bancos)
    saldo = r.randint(0, 10000)
    id_persona = r.choice(range(1, n_personas+1))
    
    cuentas_bancarias.append((tipo_de_cuenta, banco, saldo, id_persona))
    
    
# Generate persona_pertenece_faccion.
persona_pertenece_faccion = set([(r.choice(range(1, n_personas+1)), r.choice(range(1, n_facciones+1))) for _ in range(1, n_persona_pertenece_faccion+1)])

# Generate persona_tiene_trabajo.
persona_tiene_trabajo_prev = set([(r.choice(range(1, n_personas+1)), r.choice(range(1, n_trabajos+1))) for _ in range(1, n_persona_tiene_trabajo+1)])
persona_tiene_trabajo = [(id_persona, id_trabajo, r.choice([True, False]), generate_timestamp_trabajo()) for id_persona, id_trabajo in persona_tiene_trabajo_prev]
    
# SQL Statements.
inserts = [
    'INSERT INTO "facciones" ("nombre", "descripcion") VALUES (%s, %s);',
    'INSERT INTO "trabajos" ("nombre", "descripcion", "sueldo") VALUES (%s, %s, %s);',
    'INSERT INTO "personas" ("nombre", "apellidos", "fecha_nacimiento", "infectado", "conyugue") VALUES (%s, %s, %s, %s, %s);',
    'INSERT INTO "cuentas_bancarias" ("tipo_de_cuenta", "banco", "saldo", "id_persona") VALUES (%s, %s, %s, %s);',
    'INSERT INTO "persona_pertenece_faccion" ("id_persona", "id_faccion") VALUES (%s, %s);',
    'INSERT INTO "persona_tiene_trabajo" ("id_persona", "id_trabajo", "estado", "ultima_vez_realizado") VALUES (%s, %s, %s, %s);'
]

for faccion in facciones:
    cursor.execute(inserts[0], faccion)

for trabajo in trabajos:
    t = (trabajo[0], trabajo[1], r.randint(100, 5000))
    cursor.execute(inserts[1], t)

# Crear una lista con personas casadas y otra con personas solteras. donde se cambie la ide de la persona que se casó.

for persona in personas:
    cursor.execute(inserts[2], persona)
    
for cb in cuentas_bancarias:
    cursor.execute(inserts[3], cb)

for ppf in persona_pertenece_faccion:
    cursor.execute(inserts[4], ppf)
    
for ptt in persona_tiene_trabajo:
    cursor.execute(inserts[5], ptt)
    
connection.commit()


# Generar Matrimonios
n_repetidos = []

for i in range(n_casados):
    random = r.randint(1, n_personas)
    if random in n_repetidos:
        continue
    else:
        random2 = r.randint(1, n_personas)
        if random2 in n_repetidos:
            continue
        else:
            n_repetidos.append(random)
            n_repetidos.append(random2)
            cursor.execute("UPDATE personas SET conyugue = %s WHERE id = %s", (random2, random))
            cursor.execute("UPDATE personas SET conyugue = %s WHERE id = %s", (random, random2))
            connection.commit()

print("Todo Listo!")

Borrando Datos Antiguos...
Generando Datos...
Todo Listo!

## Consultas (64 pts.)

Escriba aquí las consultas pedidas. Recuerde agregar una descripción _breve_ de cómo funciona la solución. **Escriba las consultas de forma ordenada.**

**NOTA:** Cuando en una consulta diga "X cosa" significa que ustedes deben de elegir ese X por lo que para cualquier otro X debe de funcionar de igual forma.

### Consulta 1 (6 pts)
**ID, nombre y primer apellido de los habitantes de FEDRA**

Ejemplo:

|ID |  Nombre      |  Apellido  |
|---|-----------|-----------|
| 12 |Joel | Miller |
|21 | Ellie | Williams |
| ... | ... | ... |

**Solución:** obtengo la id,nombre,apellidos y a la vez consulto si existen esas ids en fedra

In [88]:
%%sql

/* Reemplace estas queries por las que resuelven las consultas pedidas. */

SELECT
    id, nombre, apellidos 
FROM personas 
WHERE id IN (
    SELECT id_persona 
    FROM persona_pertenece_faccion
    WHERE id_faccion IN (
        SELECT id
        FROM facciones
        WHERE nombre = 'FEDRA'
    ))
ORDER BY
    id ASC;

 * postgresql://postgres:***@localhost:5432/tarea
39 rows affected.

[(6, 'Shawn', 'Machen Hagen'),
 (37, 'John', 'Ortiz Thompson'),
 (63, 'Daniel', 'Cole Walker'),
 (69, 'Edward', 'Greenwood Sims'),
 (73, 'Erwin', 'Copeland Randall'),
 (91, 'Mary', 'Williams Wiederhold'),
 (98, 'Herbert', 'Hayes Timothy'),
 (106, 'Roberta', 'Stevens Drake'),
 (175, 'William', 'Marion Grainger'),
 (241, 'Scott', 'Parramore Mcintosh'),
 (245, 'Jerome', 'Przedwiecki Mcwhirt'),
 (339, 'Patrick', 'Young Lambert'),
 (369, 'Cheryl', 'Holt Calhoun'),
 (378, 'Ebony', 'Tacy Hand'),
 (442, 'Viviana', 'Mcclean Britt'),
 (471, 'Kristen', 'Zarek Duhon'),
 (483, 'Donald', 'Holder Gordon'),
 (485, 'Ericka', 'Richards Ding'),
 (488, 'Lorene', 'Baker Macduff'),
 (496, 'Elvira', 'Gardner Byrd'),
 (505, 'Orville', 'Warthen Kimble'),
 (506, 'Edward', 'Riney Hyun'),
 (523, 'Lillian', 'Zeger Boylan'),
 (544, 'Adam', 'Holze Searle'),
 (546, 'Mildred', 'Grant Byers'),
 (562, 'William', 'Duran Kirby'),
 (590, 'Terresa', 'Bledsoe Quinn'),
 (592, 'Aurelio', 'Mock Rupe'),
 (630, 'Manuel', 'Hawkins Myers'),
 (661, 'Glenn', 'Bowman Fore'),
 (719, 'Mary', 'Arias Duarte'),
 (741, 'Janelle', 'Hopkins Brasure'),
 (778, 'Lois', 'Overton Graham'),
 (834, 'Cheryl', 'Olson Wilson'),
 (879, 'Della', 'Ridling Craig'),
 (883, 'Gordon', 'Helbig Morgan'),
 (910, 'Juli', 'Hurd Wilson'),
 (938, 'Darrell', 'Thomason Berenbaum'),
 (939, 'Ryan', 'Ellard Keyser')]

### Consulta 2 (6 pts)
**Cantidad de personas nacidas después del inicio de la pandemia.**(inicio de la pandemia 01-12-2019)

Ejemplo:


| Cantidad     | 
|--------------|
| 292 | 

**Solución:** reviso a cada persona y checho su edad de nacimiento con respecto a la fecha de la pandemia, despues aumento el contador

In [98]:
%%sql

/* Reemplace estas queries por las que resuelven las consultas pedidas. */
SELECT 
COUNT(fecha_nacimiento)
FROM personas
WHERE fecha_nacimiento > '2019-12-01'

 * postgresql://postgres:***@localhost:5432/tarea
1 rows affected.

[(55,)]

### Consulta 3 (6 pts)
**ID, nombre, apellidos y saldo total de todas las personas**( Limitar a 20 filas para visualizar)

Ejemplo:

| ID    | Nombre | Apellido | Dinero | 
|----------------|--------|-|-|
| 13 | Tommy | Miller | 12501 |
| ... | ... | ... | ... |

**Solución:** consulto la id,nombre,apellido y ademas uno la tabla saldo de cada persona

In [134]:
%%sql

/* Reemplace estas queries por las que resuelven las consultas pedidas. */

SELECT
    personas.id, nombre, apellidos, saldo
FROM personas 
INNER JOIN cuentas_bancarias ON personas.id = id_persona
ORDER BY
    personas.id ASC

 * postgresql://postgres:***@localhost:5432/tarea
120 rows affected.

[(18, 'Blanca', 'Quandt Burback', 5529),
 (25, 'Jessica', 'Jones Silva', 715),
 (27, 'Patrick', 'Gonzalez Day', 3129),
 (46, 'Colleen', 'Hoisington Courtney', 6524),
 (60, 'Marie', 'Peyatt Donahue', 8265),
 (60, 'Marie', 'Peyatt Donahue', 4521),
 (63, 'Daniel', 'Cole Walker', 5480),
 (66, 'Debbie', 'Schmitz Anthony', 9770),
 (72, 'Patrick', 'Forrest Scovel', 3125),
 (88, 'Samuel', 'Stillwagon Covington', 969),
 (89, 'Richard', 'Kirkpatrick Robinson', 3790),
 (91, 'Mary', 'Williams Wiederhold', 5467),
 (106, 'Roberta', 'Stevens Drake', 8456),
 (127, 'Mary', 'Gross Snedegar', 9644),
 (129, 'Dorothy', 'Manske Mccartt', 6777),
 (136, 'Ralph', 'Valdez Smith', 4004),
 (148, 'Charles', 'Culbertson Conrad', 9186),
 (151, 'Lisa', 'Horiuchi Thacker', 1790),
 (153, 'Mary', 'Hernandez Martinez', 2890),
 (158, 'Viola', 'Karrels Robinson', 6941),
 (166, 'Juanita', 'Williams Wickus', 1006),
 (169, 'Max', 'Boeck Sprague', 7076),
 (177, 'Timothy', 'Tierney Keown', 5282),
 (186, 'Jennifer', 'Spadoni Chavez', 9086),
 (188, 'Amber', 'Halm Patterson', 7009),
 (192, 'Harold', 'Ballinger Gelsinger', 7904),
 (197, 'Greg', 'Gillespie Howard', 7152),
 (207, 'Lynne', 'Peavy Mcdonald', 518),
 (232, 'Rita', 'Johnson Kidd', 8941),
 (236, 'Candida', 'Brooker Stroot', 1155),
 (236, 'Candida', 'Brooker Stroot', 3746),
 (237, 'Tony', 'Vath Ruiz', 4473),
 (240, 'Barbara', 'Gilliland Staples', 5785),
 (246, 'Gregory', 'Bell Blevins', 9669),
 (259, 'James', 'Woodham Fisher', 7984),
 (261, 'Barry', 'Lancaster Adams', 1019),
 (264, 'Dave', 'Ramm Rosales', 7802),
 (266, 'Charles', 'Lester Juares', 9509),
 (286, 'Patti', 'Mangano Ward', 5485),
 (293, 'Donald', 'Thomson Tecuanhuey', 7289),
 (294, 'Douglas', 'Frank Driskell', 9889),
 (301, 'Dawn', 'Davis Way', 8087),
 (305, 'Loreen', 'Johnson Peterson', 8345),
 (310, 'Michael', 'Basinski Kellam', 5431),
 (311, 'Curt', 'Monro Anderson', 6663),
 (320, 'Gregory', 'Abraham Mason', 1268),
 (341, 'Thelma', 'Robison Dowst', 2481),
 (342, 'Jose', 'Beegle Wilson', 4714),
 (347, 'Adam', 'Harrison Briggeman', 4821),
 (349, 'Virginia', 'Robuck Rodriguez', 1017),
 (410, 'Guy', 'Flores Rainwater', 4539),
 (410, 'Guy', 'Flores Rainwater', 5363),
 (411, 'Phillip', 'Sadler Kister', 7700),
 (421, 'Christopher', 'Mckenney Zaragoza', 2410),
 (422, 'Ruben', 'Langlinais Nichols', 160),
 (423, 'Gladys', 'Miller Peterson', 1670),
 (424, 'Josh', 'Rosseau Fenske', 9528),
 (425, 'Clifford', 'Bates Hollis', 2453),
 (430, 'Marie', 'Fernandez Funk', 2072),
 (452, 'Martin', 'Cornett Arnold', 494),
 (461, 'Sylvia', 'Pierson Keller', 3839),
 (476, 'Chase', 'Alexander Harrison', 5733),
 (480, 'Harvey', 'Frank Longino', 884),
 (481, 'Theodore', 'Ostrom Ramirez', 8955),
 (491, 'Gregory', 'Reyes Flowers', 9307),
 (495, 'Jennifer', 'Graham Sydnor', 9503),
 (508, 'Ella', 'Glasscock Mauk', 8372),
 (511, 'Noella', 'Douglas Kelly', 6837),
 (516, 'Martha', 'Johnson Larrieu', 9640),
 (518, 'Karon', 'Thomas Smart', 9758),
 (534, 'Luis', 'Clemons White', 7952),
 (559, 'Mary', 'Gulbranson Turner', 382),
 (564, 'Ronald', 'Fenner Bill', 6528),
 (568, 'Julio', 'Compton Watts', 5209),
 (581, 'Martha', 'Neal Mchenry', 693),
 (581, 'Martha', 'Neal Mchenry', 8959),
 (582, 'Michael', 'Cervantes Hartley', 6616),
 (590, 'Terresa', 'Bledsoe Quinn', 1998),
 (593, 'Helen', 'Marks Mcgough', 2333),
 (606, 'James', 'Lopez Nelson', 1544),
 (615, 'Clifford', 'Love Davis', 2673),
 (619, 'Barbara', 'Hogan Kitchen', 6907),
 (650, 'David', 'Campbell Bell', 2800),
 (655, 'Charles', 'Pappas Gabriel', 5444),
 (665, 'Leonard', 'Fettig Foulkes', 5489),
 (675, 'Amy', 'Graff Ralls', 2869),
 (707, 'Hope', 'Clark Gee', 3595),
 (713, 'Gregory', 'Keenum Morgan', 8210),
 (714, 'Steven', 'Kehoe Smith', 3537),
 (717, 'Bonnie', 'Bellman Egland', 2249),
 (725, 'Edna', 'Wilkie Singh', 5237),
 (733, 'Ollie', 'Burke Colley', 412),
 (748, 'Brent', 'Walters Merritt', 725),
 (757, 'Lisa', 'Loven William', 6701),
 (777, 'Suzy', 'Trivedi Larsen', 6442),
 (781, 'Robert', 'Blalock Wagnon', 5366),
 (790, 'Kris', 'Hammer Caughlin', 9191),
 (798, 'Ivy', 'Martinez Jackson', 617),
 (816, 'Jeffrey', 'Conley Gomez', 7409),
 (817, 'Evelyn', 'Barretto Mendoza', 4288),
 (836, 'Vicki', 'Hawkins Mccloud', 6747),
 (843, 'Virginia', 'Matthews Archie', 6086),
 (863, 'Catherine', 'Tow Villalobos', 1220),
 (872, 'Veronica', 'Perron Thomas', 8493),
 (879, 'Della', 'Ridling Craig', 900),
 (879, 'Della', 'Ridling Craig', 2293),
 (893, 'Loretta', 'Bailey Sparks', 9362),
 (893, 'Loretta', 'Bailey Sparks', 8011),
 (897, 'Nicholas', 'Shih Topel', 1942),
 (908, 'Jose', 'Bishop Freudenburg', 5098),
 (925, 'Ronald', 'Runions Denny', 721),
 (930, 'Marilyn', 'Branton Buller', 675),
 (941, 'Victor', 'Driggs Mcconnell', 3913),
 (944, 'Joe', 'Blankenship Gates', 4223),
 (961, 'Cathy', 'Cormier Duckworth', 5200),
 (962, 'Dorothy', 'Spencer Gilyard', 6045),
 (974, 'John', 'Gray Galimi', 1151),
 (978, 'Tina', 'Tango Sorensen', 7908),
 (983, 'Jayne', 'Garcia Klein', 5193),
 (983, 'Jayne', 'Garcia Klein', 8087)]

### Consulta 4 (6 pts)
**Nombre de la Facción y la cantidad de trabajadores activos hasta fecha X.**

Ejemplo:

| Facción     | Cantidad de trabajadores |
|----------------|--------|
| FEDRA | 1273 |
| Luciérnagas | 121 |
| Carroñeros  | 72 |
| ...  | ... |

**Solución:** _Escriba aquí la descripción de su solución._

In [ ]:
%%sql

/* Reemplace estas queries por las que resuelven las consultas pedidas. */

SELECT
    
FROM 
    *

### Consulta 5 (6 pts)
**Nombre de la Facción y su cantidad de personas infectadas.**

Ejemplo:

|  Facción  | Personas infectadas | 
|--------|-------|
| FEDRA | 251 |
| Luciérnagas | 17 |
| Carroñeros  | 12 |
| ...  | ... |

**Solución:** _Escriba aquí la descripción de su solución._

In [ ]:
%%sql

/* Reemplace estas queries por las que resuelven las consultas pedidas. */

SELECT
    * 
FROM 
    *

### Consulta 6 (6 pts)
**Nombre de la Facción y su trabajo más realizado.**

Ejemplo:

|  Facción  | Trabajo | 
|--------|-------|
| FEDRA | Limpiador de cloacas |
| Luciérnagas | Médico |
| Carroñeros  | Explorador |
| ...  | ... |

**Solución:** _Escriba aquí la descripción de su solución._

In [ ]:
%%sql

/* Reemplace estas queries por las que resuelven las consultas pedidas. */

SELECT
    * 
FROM 
    *

### Consulta 7 (8 pts)
**Nombre de la Facción y su Saldo total** (Es decir, la suma total de los saldos de cada persona perteneciente a la facción.)

Ejemplo:

|Facción | Saldo |
|--------|-|
| FEDRA | 523000 |
| Luciérnagas | 130023 |
| Carroñeros  | 17432 |
| ...  | ...|

**Solución:** _Escriba aquí la descripción de su solución._

In [ ]:
%%sql

/* Reemplace estas queries por las que resuelven las consultas pedidas. */

%%sql
SELECT
    * 
FROM 
    *

### Consulta 8 (6 pts)
**Nombre del Banco, cantidad de usuarios pertenecientes al banco y saldo total del banco.**

###### Es decir, todos los bancos que ocupan los habitantes de cada faccion

Ejemplo:

|Banco | Cantidad|Saldo|
|----|---|---|
|FedraBank S.A |321|20000|
|Banco Pedrito Pascal SpA  |21|200| 
| Banco De Chile|213|56000|
| ... | ... |

**Solución:** _Escriba aquí la descripción de su solución._

In [ ]:
%%sql

/* Reemplace estas queries por las que resuelven las consultas pedidas. */

%%sql
SELECT
    * 
FROM 
    *

### Consulta 9 (8 pts)
**Nombre de la Facción y el Banco más utilizado por sus habitantes**(Si hay empate, que se muestre solo uno.)

Ejemplo:
   
|Facción | Banco |
| - | - |
| FEDRA | FedraBank S.A |
| Luciérnagas | Banco Pedrito Pascal SpA |
| ... | ... |

**Solución:** _Escriba aquí la descripción de su solución._

In [ ]:
%%sql

/* Reemplace estas queries por las que resuelven las consultas pedidas. */

%%sql
SELECT
    * 
FROM 
    *

### Consulta 10 (6 pts)
**ID, nombre y segundo apellido de las personas traidoras**(Es decir, si la persona pertenece a dos o más facciones.)

Ejemplo:
   
|ID | Nombre | Apellido | 
|-|-------|-|
| 1 | Pedro | Pascal |
| 2 | Bella | Ramsey |
| ... | ... | ... | 

**Solución:** _Escriba aquí la descripción de su solución._

In [ ]:
%%sql

/* Reemplace estas queries por las que resuelven las consultas pedidas. */

%%sql
SELECT
    * 
FROM 
    *

### Consulta BONUS (6 pts.)

**Nombre y Apellidos de las personas casadas**(solo se muestra una única vez la pareja)

Ejemplo:
   
|Nombre persona 1 | Apellidos persona 1 | Nombre persona 2 | Apellidos persona 2 |
|-|-------|-|-|
| Felipe | Martinez | Raul | Cuello |
| Rodrigo | Munita | Juan | Mira |
| Nicole | Rojel | Benjamin | Campos |
| ... | ... | ... | ... |

**Solución:** _Escriba aquí la descripción de su solución._

In [ ]:
%%sql

/* Reemplace estas queries por las que resuelven las consultas pedidas. */

%%sql
SELECT
    * 
FROM 
    *